.home__img {
    background-image: url(../../assets/praia__home.jpg);
    height: 50vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    
}

.blog__data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1.5rem;
    
    padding: 1rem 2rem;
    border-radius: 0.3rem;
}

.blog__name {
    color: white;
    font-family: var(--body-font);
    font-size: 3.3rem;
    text-shadow: rgba(0, 0, 0, 0.199) 1px 2px;
    letter-spacing: 0.6rem;

}

.blog__division {
    background-color: white;
    width: 230px;
    height: 1px;
}

.blog__subtitle {
    color: white;
    font-size: var(--h2-font-size);
    font-weight: var(--font-light);
    text-shadow: rgba(0, 0, 0, 0.199) 1px 2px;
}





