.categories__div {
    display: grid;
    grid-template-columns: 3fr 1fr ;
    gap: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}


.categories__container {
    margin-top: 2rem;
    text-align: center;
}

.categories__img {
    max-width: 720px;
    
}


.categories{
    background-color: #fff;
    max-width: 866px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-bottom: var(--mb-1);
}

.categories label {
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
    color: var(--subtitle-color);
    margin-bottom: var(--mb-1);
}

.categories__choose {
    display: flex;
    align-items: center;
    
}

.categories__choose select {
    width: 20rem;
    padding: 0.5rem;
    margin-right: 1rem;
}

.categories__choose button {
    font-size: calc(var(--normal-font-size) + 0.2rem);
    background-color: #fff;
    border: 0.5px solid var(--details-color);
    padding: 0 1rem;
    color: var(--details-color);
    border-radius: 0.4rem;
    align-self: center;
    transition: 0.2s;
}

.categories__choose button:hover {
    background-color: var(--details-color);
    color: white;
}

.categories__aside {
    background-color: #fff;
    margin-top: 1rem;
    padding: 2rem;
}

.categories__aside h3 {
    margin-bottom: var(--mb-1);
}

.categories__item {
    margin-bottom: var(--mb-0-5);
    margin-left: var(--mb-0-25); 
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.categories__item i {
    font-size: calc(var(--normal-font-size) + 0.1rem);
}

.categories__item i:hover {
    color: red;
}

.categories__item a {
    text-decoration: none;
    font-weight: var(--font-normal);
    color: rgb(68, 68, 68);
}

.categories__item a:hover{
    color: var(--details-color);
}

.categories__division {
    height: 1px;
    width: 95%;
    background-color: black;
    margin-bottom: 0.2rem;
    margin-left: auto;
    margin-right: auto;
}

.create__post__category-box {
    background-color: #fff;
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    row-gap: 1rem;
}

.create__post__category-box label {
    font-size: var(--normal-font-size);
    font-weight: var(--font-bold);
    color: var(--subtitle-color);
    margin-bottom: var(--mb-1);
}

.create__post__category-box form {
    display: flex;
    flex-direction: column;
}

.create__post__category-box__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.create__post__category-box__buttons input {
    padding: 0.2rem;
}

.create__post__category-box__buttons button {
    width: fit-content;
    align-self: flex-end;
    background-color: #fff;
    font-size: calc(var(--normal-font-size) + 0.1rem);
    transition: 0.3s;
}

.create__post__category-box__buttons button:hover {
    box-shadow: inset 0px -4px #0259495d;
}

.category__aside {
    background-color: #fff;
    
}

.categories__alert__div {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.categories__alert__remove {
    background-color: #fff;
    position: absolute;
    top: 40%;
    left: 25%;
    right: 25%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.281);
}

.categories__alert__buttons {
    display: flex;
    align-items: center;
    gap: 12rem;
    justify-content: space-between;    
}

.categories__alert__buttons button {
    background-color: #fff;
    font-size: var(--h2-font-size);
}

.categories__alert__buttons button:hover {
    box-shadow: inset 0px -4px #0259495d;
}

