.create__post__category-box {
    background-color: #fff;
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    row-gap: 1rem;
}

.create__post__category-box label {
    font-size: var(--normal-font-size);
    font-weight: var(--font-bold);
    color: var(--subtitle-color);
    margin-bottom: var(--mb-1);
}

.create__post__category-box form {
    display: flex;
    flex-direction: column;
}

.create__post__category-box__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.create__post__category-box__buttons input {
    padding: 0.2rem;
}

.create__post__category-box__buttons button {
    width: fit-content;
    align-self: flex-end;
    background-color: #fff;
    font-size: calc(var(--normal-font-size) + 0.1rem);
    transition: 0.3s;
}

.create__post__category-box__buttons button:hover {
    box-shadow: inset 0px -4px #0259495d;
}

.category__aside {
    background-color: #fff;
    
}

