.blog {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 2rem;
}

.blog__content {
    height: auto;
    text-align: center;
    padding: 1rem;
}

.blog__aside {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 1rem;
}

.blog__search {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    gap: 0.5rem;
}

.blog__search input {
    padding: 0.2rem;
}

.blog__search button {
    font-size: calc(var(--normal-font-size) + 0.2rem);
    background-color: #fff;
    border: 0.5px solid var(--details-color);
    padding: 0 1rem;
    color: var(--details-color);
    border-radius: 0.4rem;
    align-self: center;
    transition: 0.2s;
}

.blog__search button:hover {
    background-color: var(--details-color);
    color: white;
}

.blog__posts {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}

.blog__posts li{
    list-style-type: none;
    margin-left: 0.4rem;
    
}

.blog__posts li a {
    text-decoration: none;
    color: var(--text-color);
}

.blog__posts li a:hover {
    color: var(--details-color);
}

/*=========== BREAKPOINTS =========*/
/*Large devices*/
@media screen and (max-width: 992px) {
    .blog {
        display: flex;
    }

    .blog__aside {
        display: none;
    }
  }
  