.blog {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 5vh;
}

.blog__content {
    height: auto;
    text-align: center;
    padding: 1rem;
}

.blog__aside {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.blog__search {
    background-color: #fff;
    height: 100px;
}

.blog__posts {
    background-color: #fff;
}