.create__post{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.post__title {
    margin-bottom: var(--mb-1);
}

.create__post__form {
    display: flex;
    flex-direction: column;
    justify-content:left;
    gap: 1rem;
    padding: 2rem;
    width: 640px;
    background-color: #fff;
    margin-bottom: 20vh;
}

.create__post__form label {
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
    color: var(--subtitle-color);
}

.create__post__title  {
    width: 100%;
    padding: 0.3rem;
    
}

.create__post__text  {
    width: 100%;
    padding: 0.7rem;
    height: 250px;
}

.create__post__categories  {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: var(--mb-1);
}

.create__post button {
    width: 90px;
    align-self: flex-end;
    font-size: calc(var(--normal-font-size) + 0.1rem);
    background-color: #fff;
    transition: 0.3s;
}

.create__post button:hover {
    box-shadow: inset 0px -4px #0259495d;
}

