.post__container {
    background-color: #fff;
    max-width: 866px;
    margin-bottom: 2rem;
    padding: 0.5rem 0.5rem 3rem 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.post__information {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-top: 0.5em;
}

.post__img {
    width: 860px;
    height: 485px;
    margin-bottom: var(--mb-1);
}

.post__title {
    margin: 0 auto;
}

.post__link {
    text-decoration: none;
    color: var(--title-color);
}

.post__icon {
    color: var(--details-color);
    font-size: calc(var(--normal-font-size) + 0.2rem);
    margin-right: var(--mb-0-25);
}

.post__info a {
    color: var(--text-color);
    text-decoration: none;
}

.post__division {
    background-color: var(--details-color);
    margin: 0.5rem auto;
    height: 2px;
    width: 10vh;
    margin-top: 2rem;
}

.post__post {
    padding: 2rem 0.5rem;
    text-align: justify;
    margin: 0 auto;
    max-width: 700px;
    margin-bottom: 1.5rem;
}

.post__buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.post__comments {
    font-size: calc(var(--normal-font-size) + 0.1rem);
    background-color: #fff;
    transition: 0.3s;
}

.post__comments:hover {
    box-shadow: inset 0px -4px #0259495d;
}
